---
const { itemClass = "" } = Astro.props as {
  itemClass?: string;
};
---

<li><a class={itemClass} href="/">Inicio</a></li>
<li><a class={itemClass} href="/productos">Productos</a></li>
<li><a class={itemClass} href="/nosotros">Sobre Maskottchen</a></li>
<li><a class={itemClass} href="/contacto">¿Donde Comprar?</a></li>
<li><a class={itemClass} href="/contacto">Contacto</a></li>
