---
const { itemClass = "" } = Astro.props as {
  itemClass?: string;
};
---

<li><a class={itemClass} href="/">Inicio</a></li>
<li><a class={itemClass} href="/products">Productos</a></li>
<li><a class={itemClass} href="/about-us">Sobre Maskottchen</a></li>
<li><a class={itemClass} href="/contact">¿Donde Comprar?</a></li>
<li><a class={itemClass} href="/contact">Contacto</a></li>
